* {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none !important;
}
.box {
  width: 363px;
  height: 530px;
  background-size: cover;
  margin: 30px;
}
.container {
  margin-top: 40px;
  padding: 0px;
}